.overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;

}

.no-bullit {                  /*  отменяет эффекты у первого элемента в nav */
    list-style: none;
    text-decoration: none;
}

/* Шапка */

.header {
    width: 1052px;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    place-content: center;
    margin: 117px auto 92px;

    font-size: 18px;
    font-weight: normal;
}

.header__menu {
    align-self: center;
}

.header__menu_list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: circle;
}

.header__menu_list_items {
    margin-right: 20px;
    padding-left: 6px;
    
    text-decoration: underline;
}

.header__logo {
    display: block;
}

.header__logo-image {
    width: 148px;
    height: 105px;
}

.header__address {
    width: 210px;
    margin-right: 55px;
    justify-self: end;
    align-self: center;
    
    line-height: 24.3px;
}

 /* Первая секция */ 

.cover {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 1100px;
    min-height: 757px;
    background-image: url(../images/cover.jpg);
    background-size: cover;
    background-position: center;
    
    margin-bottom: 172px;
}

.cover__title {
    width: 1000px;
    height: 355px;
    z-index: 10;
    margin: 173px auto 130px;
    
    font-size: 100px;
    line-height: 29px;
    font-weight: bold;
    letter-spacing: 30px;
    white-space: pre-line;
    text-transform: uppercase;
    color: white;
}

.aligned-text {
    display: block;
    height: 100px;
    text-align: left; 
}

.aligned-text_center {
    display: block;
    height: 100px;
    text-align: center;
}

.aligned-text_right {
    display: block;
    height: 100px;
    text-align: end;
    letter-spacing: 30px;
}

.letter-spacing-extended {
    letter-spacing: 55px;
}

.no-letter-spacing {
    letter-spacing: 0;
}

.cover__description{
    z-index: 10;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 56px;

    color: white;
    word-spacing: 18px;
}

.cover__description-text {
    margin-left: 42px;

    font-size: 22px;
    font-weight: normal;
    text-transform: uppercase;
}

.cover__description-button {
    width: 256px;
    height: 51px;
    margin-right: 10px;

    font-size: 22px;
    background: transparent;
    color: white;
    border: solid 1px white;
    text-transform: uppercase;
}


/* Вторая секция */

.lots {
    margin-bottom: 146px;
}

.lots__heading {
    margin-bottom: 27px;
    margin-left: 64px;

    font-weight: bold;
    text-transform: uppercase;
    font-size: 40px;
}

.lots__card-list {
    list-style: none;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 25px;

    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 30px;
}

.lots__card-list-item {
    position: relative;
    flex-grow: 1;
    width: 334px;
    min-height: 563px;
}

.card-link {
    display: block;
    text-decoration: none;
    height: 100%;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    color:white;

    padding: 0 40px;
}

.card__title {
    z-index: 10;
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: underline;

    margin-top: 51px;
}

.card__text {
    z-index: 10;
    font-size: 20px;
    font-weight: normal;

    padding-bottom: 48px;
}

.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
    background-position: center;
    background-size: cover;
}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
    background-position: center;
    background-size: cover;
}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
    background-position: center;
    background-size: cover;
}

.lots__look-more-link {
    font-size: 20px;
    font-weight: normal;
    text-decoration: underline;

    margin-left: 65px;
} 

/* Третья секция */

.about {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 180px;
}

.about__logo {
    width: 240px;
    height: 240px;
    background-color: black;
    border-radius: 50%;
    justify-self: center;
    margin-top: 40px;

    text-align: center;  
}

.about__logo-image{
    width: 148px;
    padding-top: 60px;
}

.about__column {
    grid-column-start: 2;
    grid-column-end: -1;
    justify-self: center;
}

.about__title {
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 140px;
    margin-bottom: 100px;
}

.about__text {
    width: 688px;
    text-align: left;
    font-size: 20px;
    font-weight: normal;
    line-height: 24px;
}

/* Подвал */

.footer {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;                    
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    
    line-height: 22px;
    font-size: 18px;
    font-weight: normal;
}

.footer__address {
    width: 210px;
    padding-top: 10px;
}

.footer__menu {
    justify-self: center;
}

.footer__menu_list {
    list-style: none;
    text-align: center;
}

.footer__menu_list-item {
    text-decoration: underline;
}

.footer__social-list {
    list-style: none;
    display: flex;
    justify-content: space-between;

    margin-top: 5px;
    padding-left: 10px;
}

.footer__social-list-item{
    width: 48px;
    height: 48px;
}